$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(slideDown) {
  0%   { top: 110px; }
  100% { top: 130px; }
}

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body{
	background:#fff;
}

header{
	background-color: #ff8f79;
	padding:100px 0;

	h1{
		border-bottom: 5px solid #fff;
		display: inline-block;
	}

	h1,h2{
		color:#fff;
		font-size:48px;
		text-transform: lowercase;
		margin:0;
		padding-bottom: 5px;
	}
}

h2{
	font-family: 'Karla', sans-serif;
	font-weight:100;
	text-transform:lowercase;
	font-size:48px;
	color:#6D5B5B;
	padding-bottom:7.5px;
	margin-left:5px;
	margin-bottom:25px;
}

.container{
	margin:0 auto;
	width:100%;
	padding:50px 0;
	max-width:1240px;
	font-family: 'Karla', sans-serif;
}

.item { 
  width:290px;
  height:290px;
  margin:10px;
  float:left;
 
  figure{
  	position:relative;

  	img{
  		max-width:100%;
  		transition:opacity .5s ease;
  }
	
  figcaption{
	  	text-align: center;
		position:absolute;
		left:0;
	    right:0;
	    top:130px;
	    margin-left:auto;
	    margin-right:auto;
	    width:250px;
	    font-size:20px;
	    color:#000;
	    opacity:0;
	    transition:opacity .3s ease;
  	}
  }

  &:hover{
  	figure img{
  		opacity:.3;
  		transition:opacity .5s ease;
  		filter: blur(1px);
  	}
  	figcaption{
  		opacity:1;
  		transition:opacity .5s ease;
  		@include animation('slideDown .2s 1');
  	}
  }

 
}
