$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(slideDown) {
  0%   { top: 110px; }
  100% { top: 130px; }
}

@include keyframes(slideDownLong) {
  0%   { top: 100px; }
  100% { top: 120px; }
}

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$pink: #ff8f79;

body{
	background:#fff;
}

header{
	background-color: $pink;
	padding:100px 0;

	h1,h2{
		color:#fff;
		font-size:44px;
		text-transform: lowercase;
		margin:0;
		padding-bottom: 5px;
	}

	h1{
		border-bottom: 5px solid #fff;
		display: inline-block;
		margin-bottom:5px;
	}
}

h2{
	font-family: 'Karla', sans-serif;
	font-weight:100;
	text-transform:lowercase;
	font-size:44px;
	color:#6D5B5B;
	padding-bottom:7.5px;
	margin-left:5px;
	margin-bottom:25px;
}

.container{
	margin:0 auto;
	width:100%;
	padding:50px 20px 20px 20px;
	max-width:1360px;
	font-family: 'Karla', sans-serif;
}

//Homepage Project Section

.projects{
	.item { 
	  width:280px;
	  height:280px;
	  margin:10px;
	  float:left;
	 
	  figure{
	  	position:relative;

	  img{
	  		max-width:100%;
	  		transition:opacity .5s ease;
	  }
		
	  figcaption{
		  	text-align: center;
			position:absolute;
			text-transform: uppercase;
			left:0;
		    right:0;
		    top:130px;
		    margin-left:auto;
		    margin-right:auto;
		    width:250px;
		    font-size:24px;
		    color:#000;
		    opacity:0;
		    transition:opacity .3s ease;
	  	}
		
		figcaption.longText{
			top:120px;
		}	

	  }

	  &:hover{
	  	figure img{
	  		opacity:.3;
	  		transition:opacity .5s ease;
	  		filter: blur(1px);
	  	}
	  	figcaption{
	  		opacity:1;
	  		transition:opacity .5s ease;
	  		@include animation('slideDown .2s 1');
	  	}
	  	figcaption.longText{
	  		@include animation('slideDownLong .2s 1');
	  	}
	  }
	}
}

//Homepage About Section

.about{
	padding-bottom:50px;

	p{
		margin-left:10px;
		font-size:22px;
		max-width:700px;
	}

	a{
		color:$pink;
		text-decoration:none;
		border-bottom:2px solid $pink;
	}
}

footer{
	height:300px;
	background:rgba(52, 35, 35, 0.7);

	.socialImg{
		height: 50px;
		width:50px;
		margin-right: 20px;
	}
}
